@font-face {
  font-family: "Fredoka One";
  src: url('chrome-extension://kdecehkdnhkokoedkcgnnkjcpnbeebjk/fonts/fredoka-one.one-regular.ttf') format('truetype');
}

span.ytp-caption-segment {
  background: transparent;
  color: white !important;
  fill: white !important;
  font-family: "Fredoka One", sans-serif !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9) !important;
  -webkit-text-stroke: 2px #88003D !important;
}
